<div class="overflow-x-auto">
  <table class="table table-x table-pin-rows table-pin-cols">
    <div class="flex flex-col gap-2">
      <div class="p-2">
        
    <thead>
      <tr>
        <th></th> 
        <td>Name</td> 
        <td>Competition</td> 
        <td>Score</td> 
        <td>Last login</td>
      
        <th></th> 
      </tr>
    </thead> 
    <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.login_id}}</th>
                    <td>{{this.Competitor}}</td>
                    <td>{{this.CompName}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.apllied_date}}</td>
                    
                   <td>
                <a href="/competitions/{{this.id}}" class="btn btn-accent btn-m">Povratak na natjecanja</a>
        
                 </td>
                   
                  
                </tr>
                {{/each}}  
              </tbody>
        </table>
    </div>
</div>
    